body{
    background-color: whitesmoke;
}
.bg-blur{
    background-color: #842776;
    background-image: linear-gradient(147deg, #150c14 0%, #1357bc 100%);
    color: whitesmoke;
}
@media(min-width:1201px){
    .fa-home-lg{
        font-size: larger !important;
    }
    .nav-items{
        font-size:19px;
        font-weight: 500;

    }
    .nav-form{
        input{
            font-size: 18px;
            font-weight: 500;
        }
        button{
            font-size: 18px;
            font-weight: 500;
        }
    }
    .blog-shower{
        button{
            padding-top: 17px !important;
            padding-bottom: 17px !important;
            letter-spacing: 2px;
            font-weight: 500;
            letter-spacing:1.5px;
            text-align:1.5px;
        }
    }
    .overflow-hidden{
        max-height: 33vh;
        img{
            height: 500px !important;
            width: 700px !important;
        }
    }
}
.bg-lorem{
    background-color: #842776;
    background-image: linear-gradient(147deg, #150c14 0%, #1357bc 100%);
    color: whitesmoke;
}
.img-wrap{
    height: 270px;
    padding: 5px;
    display: block;
    align-items: center;
    text-align: center;
}
.img-cover{
    height: 100%;
    width: auto;
    max-width: 100%;
}


.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #103783 0%, #9bafd9 100% );
    transform: translate3d(1px, 2px, 0) scale(1.08);
    filter: blur(7px);
    opacity: var(1);
    transition: opacity 0.3s;
    border-radius: inherit;
}


/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.card-blog::before{
    @extend .box:before; background: linear-gradient(-45deg, #102a47 0%, #cbcdd1 100% );
    transform: translate3d(1px, 1px, 0) scale(1.03);
    filter: blur(10px);
}

.blog-img-wrap{
    @extend .img-wrap;
}
.blog-img-cover{
    @extend .img-cover;
}
.bgl-list-group{
    button{
        transition-duration: 500ms;
    }
    button:hover{
        background-color: #102a47 !important;
        color: whitesmoke;
    }
}
.card-info-wrap{
    border-left:darkgray 3px ridge;
    margin-top: 1%;
    margin-bottom: 1%;
}
.map{
    width: 650px !important;
    height: 75vh;

}



